@tailwind base;
@tailwind components;
@tailwind utilities;

input[type = "text"], input[type="password"], input[type="email"], input[type="number"], textarea{

    @apply w-full border my-2 py-2 px-3 rounded-lg  ;

}

button
{
    @apply bg-gray-300  rounded-lg ;
}

button.primary
{
    background-color:'#F5385D' ;
    @apply bg-primary  p-2 w-full text-white rounded-lg;
}

textarea{
    height:  140px;
}